# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
env/
venv/
.venv/
*.egg-info/

# IDE
.vscode/
.idea/

# Uploads and logs
uploads/
file_logs/

# Environment variables
.env

storage/

app/files/old.py